<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShowControl_FFFScreen.FFFGame" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ShowControl_FFFScreen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ShowControl_FFFScreen.FFFGame>
            <setting name="CorrectAnswerOptionsCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GameDurationSeconds" serializeAs="String">
                <value>20</value>
            </setting>
        </ShowControl_FFFScreen.FFFGame>
        <ShowControl_FFFScreen.My.MySettings>
            <setting name="FFFPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StateDataIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="StateDataPort" serializeAs="String">
                <value>40100</value>
            </setting>
        </ShowControl_FFFScreen.My.MySettings>
    </userSettings>
</configuration>
